{{ define "dashboard_cube_svg" }}
    <svg xmlns="http://www.w3.org/2000/svg" class="blue-cube" viewBox="20 -20 250 200">
        <defs>
            <g id="cube" class="cube-unit">
            <rect width="21" height="24" fill="var(--lightColor)" stroke="var(--strokeColor)" transform="skewY(30)" />
            <rect width="21" height="24" fill="var(--darkColor)" stroke="var(--strokeColor)" transform="skewY(-30) translate(21 24.3)" />
            <rect width="21" height="21" fill="var(--mainColor)" stroke="var(--strokeColor)" transform="scale(1.41,.81) rotate(45) translate(0 -21)" />
            </g>
            <g id="cube" class="cube-unit">
            <rect width="21" height="24" fill="var(--lightColor)" stroke="var(--strokeColor)" transform="skewY(30)" />
            <rect width="21" height="24" fill="var(--darkColor)" stroke="var(--strokeColor)" transform="skewY(-30) translate(21 24.3)" />
            <rect width="21" height="21" fill="var(--mainColor)" stroke="var(--strokeColor)" transform="scale(1.41,.81) rotate(45) translate(0 -21)" />
            </g>
            <g style="transform:scale(0.6)" id="cube-small" class="cube-unit">
            <rect width="21" height="24" fill="var(--lightColor)" stroke="var(--strokeColor)" transform="skewY(30)" />
            <rect width="21" height="24" fill="var(--darkColor)" stroke="var(--strokeColor)" transform="skewY(-30) translate(21 24.3)" />
            <rect width="21" height="21" fill="var(--mainColor)" stroke="var(--strokeColor)" transform="scale(1.41,.81) rotate(45) translate(0 -21)" />
            </g>
            <g id="cube" class="cube-unit">
            <rect width="21" height="24" fill="var(--lightColor)" stroke="var(--strokeColor)" transform="skewY(30)" />
            <rect width="21" height="24" fill="var(--darkColor)" stroke="var(--strokeColor)" transform="skewY(-30) translate(21 24.3)" />
            <rect width="21" height="21" fill="var(--mainColor)" stroke="var(--strokeColor)" transform="scale(1.41,.81) rotate(45) translate(0 -21)" />
            </g>
        </defs>
        <g class="move"><use href="#cube-small" x="129" y="56" /></g>
        <g style="opacity:.2;">
            <use href="#cube" x="121" y="48" />
            <use href="#cube" x="121" y="24" />
            <use href="#cube" x="121" y="0" />
            <use href="#cube" x="100" y="60" />
            <use href="#cube" x="100" y="36" />
            <use href="#cube" x="100" y="12" />
            <use href="#cube" x="142" y="60" />
            <use href="#cube" x="142" y="36" />
            <use href="#cube" x="142" y="12" />
            <use href="#cube" x="163" y="72" />
            <use href="#cube" x="163" y="48" />
            <use href="#cube" x="163" y="24" />
            <use href="#cube" x="79" y="72" />
            <use href="#cube" x="79" y="48" />
            <use href="#cube" x="79" y="24" />
            <use href="#cube" x="121" y="72" />
            <use href="#cube" x="121" y="48" />
            <use href="#cube" x="121" y="24" />
            <use href="#cube" x="100" y="84" />
            <use href="#cube" x="100" y="60" />
            <use href="#cube" x="100" y="36" />
            <use href="#cube" x="142" y="84" />
            <use href="#cube" x="142" y="60" />
            <use href="#cube" x="142" y="36" />
            <use href="#cube" x="121" y="96" />
            <use href="#cube" x="121" y="72" />
            <use href="#cube-small" x="129" y="56" />
        </g>
    </svg>
{{ end }}