{{ define "js" }}

  <script type="text/javascript" src="/js/datatables.min.js"></script>
  <script src="/js/highcharts/highstock.min.js"></script>
  <script src="/js/highcharts/exporting.min.js"></script>
  <script src="/js/highcharts/offline-exporting.min.js"></script>
  <script src="/js/highcharts/highcharts-global-options.js"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/validator.js"></script>
  <script src="/js/layout.js"></script>

  <script>
    const temp = "{{ .ValidatorLimit }}";
    if(!isNaN(temp)) {
          VALLIMIT = parseInt(temp);
    }
    function setSelectedValidatorStatus(index) {
      $.ajax({
        url: "/validator/" + index + "/status",
        success: function (result) {
          let deposited = result.Status == "deposited" || result.Status == "deposited_valid" || result.Status == "deposited_invalid"
          let pending = result.Status == "pending"
          let exited = result.Status == "exited" || result.Status == "slashed"
          let validating = result.Status == "active_online"   || result.Status == "active_offline"   || 
                            result.Status == "slashing_online" || result.Status == "slashing_offline" || 
                            result.Status == "exiting_online"  || result.Status == "exiting_offline"

          $("#eligible-epoch").empty()
          $("#activation-epoch").empty()
          $("#exit-epoch").empty()
          $("#exit-epoch").empty()

          $("#validator-status-deposited").addClass("d-none")
          $("#validator-status-pending").addClass("d-none")

          if (!deposited) {
            $("#eligible-epoch").append(`<div data-toggle="tooltip" title="The eligible epoch is when your validator is registerd by the beacon chain and joins the queue to be activated."><a href="/epoch/${result.ActivationEligibilityEpoch}">${result.ActivationEligibilityEpoch == 0 ? "genesis" : result.ActivationEligibilityEpoch}</a></div>`)
            $("#activation-epoch").append(`<div data-toggle="tooltip" title="The activation epoch is when your validator becomes active."></div>`)
            if (result.ActivationEpoch != 9223372036854775807) {
              $("#activation-epoch > div").append(`<a href="/epoch/${result.ActivationEpoch}">${result.ActivationEpoch == 0 ? "genesis" : result.ActivationEpoch}</a>`)
            }
          }
          if (result.ExitEpoch != 0 && result.ExitEpoch != 9223372036854775807){
            $("#exit-epoch").append(`<div data-toggle="tooltip" title="The exit epoch is when your validator will leave the network"><a href="/epoch/${result.ExitEpoch}">${result.ExitEpoch}</a></div>`)
          }
          setValidatorStatus(result.Status, result.ActivationEpoch)

          if (deposited) {
            addValidatorStatusDeposited(result)
          } else if (pending) {
            addValidatorStatusPending(result)
          } else if (exited) {
            addValidatorStatusExited(result)
          } else if (validating) {
            addValidatorStatusValidating(result)
          }

          $("#dash-validator-status-index").text(index)
          $('[data-toggle="tooltip"]').tooltip()
        },
      })
    }

    function addValidatorStatusDeposited(result) {
      $("#validator-status-deposited span").empty().append(`
        ${ result.InclusionDelay == 0 ?
          `An ETH1 deposit has been made, and your validator will be voted into the activation queue once the deposited amount sums up to 32 ETH.`
        : `The last ETH1 deposit was made ${result.Deposits.LastEth1DepositTs > 0 ? `<span aria-ethereum-date-format="FROMNOW" aria-ethereum-date="1656780703"></span>`:``}, it will take <a href=\"https://kb.beaconcha.in/ethereum-2.0-and-depositing-process\">around 16-24 hours</a> until your deposit is processed by the beacon chain. This validator will be eligible for activation once the deposited amount sums up to 32 ETH.`
        }
      `)
      $("#validator-status-deposited").removeClass("d-none")
      setAriaEthereumDate()
    }
    function addValidatorStatusPending(result) {
      $('#validator-status-pending > div > div > div:gt(1)').remove()
      $("#validator-status-pending span").empty().append(`
        ${ result.ActivationEpoch < 100_000_000 ?
          `It will be activated on <span class=\"font-weight-bolder\" title=\"${result.ActivationTs}\" data-toggle=\"tooltip\" aria-ethereum-date=\"${Date.parse(result.ActivationTs)/1000}\">${result.ActivationTs}</span> during epoch <span class=\"font-weight-bolder\">${result.ActivationEpoch}</span>.`
        : result.EstimatedActivationEpoch < 100_000_000 ? 
          `It is estimated to be activated on <span class=\"font-weight-bolder\" title=\"${result.ActivationTs}\" data-toggle=\"tooltip\" aria-ethereum-date=\"${Date.parse(result.EstimatedActivationTs)/1000}\">${result.EstimatedActivationTs}</span> during epoch <span class=\"font-weight-bolder\">${result.EstimatedActivationEpoch}</span>.`
        : ''
        }
      `)
      if (result.QueuePosition > 0) {
        $("#validator-status-pending > div > div").append(`
          <div class="d-flex justify-content-center">
            <p>This validator is currently <span class="font-weight-bolder d-inline-block text-underlined" data-toggle="tooltip" title="${result.ChurnRate} Validators get dequeued each Epoch.">#${result.QueuePosition}</span> in Queue.</p>
          </div>
        `)
      }
      $("#validator-status-pending").removeClass("d-none")
      //TODO ROCKET + COUNTDOWN
      setAriaEthereumDate()
    }
    function addValidatorStatusValidating (result) {
    }

  </script>
{{ end }}

{{ define "css" }}
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
  <link rel="stylesheet" type="text/css" href="/css/validator.css" />
{{ end }}

{{ define "content" }}
  {{ with .Data }}
    <div class="container mt-2 outer-container" style="min-width:300px;">
      <div class="dashboard-container">
        <div class="dashboard-header">
          <div class="dashboard-title">
            <style>
              .cube {
                display: flex;
                justify-content: center;
                --disperse-factor: 0.5px;
              }

              .cube-unit {
                fill-opacity: 0.9;
                stroke-miterlimit: 0;
              }

              .blue-cube {
                /* --mainColor: #009CDE;
            --strokeColor: #0079ad;
            --lightColor: #00affa;
            --darkColor: #008bc7; */
                width: 89px;
                height: auto;
              }

              .blue-cube {
                --mainColor: rgba(75, 75, 75, 0.7);
                --strokeColor: rgba(55, 55, 55, 1);
                --lightColor: rgba(0, 0, 0, 0.5);
                --darkColor: rgba(100, 100, 100, 0.8);
              }

              [data-theme="dark"] .blue-cube {
                --mainColor: rgba(180, 180, 180, 0.7);
                --strokeColor: rgba(200, 200, 200, 1);
                --lightColor: rgba(255, 255, 255, 0.5);
                --darkColor: rgba(150, 150, 150, 0.8);
              }

              @keyframes moveX {
                to {
                  transform: translateX(var(--translateX, 35px));
                }
              }

              @keyframes moveY {
                to {
                  transform: translateY(var(--translateY, -35px));
                }
              }

              @keyframes moveXY {
                to {
                  transform: translate(var(--translateX, 200px), var(--translateY, 200px));
                }
              }

              @keyframes moveBack {
                to {
                  transform: translate(0, 0);
                }
              }

              .move {
                /* transform: translate(-50px, -20px);
            animation: 2s moveBack alternate infinite paused; */
              }

              .move > use {
                /* animation: 2s moveBack alternate infinite paused; */
              }

              .m-left,
              .m-right {
                animation: 2s moveX alternate infinite paused;
              }

              .m-up,
              .m-down {
                animation: 2s moveY alternate infinite paused;
              }

              .m-xy {
                animation: 2s moveXY forwards infinite paused;
              }

              .m-left {
                --translateX: -50px;
              }

              .m-right {
                --translateX: 500px;
              }

              .m-up {
                --translateY: -50px;
              }

              .m-down {
                --translateY: 200px;
              }

              .multiselect-border {
                z-index: 5;
              }
            </style>

            <div id="dashboard-cube" class="cube">
              {{ template "dashboard_cube_svg" }}
            </div>
            <div class="brand">
              <div class="dashboard-title-value title">
                <div class="title">Dashboard</div>
                <div style="font-size:1.5rem;" class="stat">Validators</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card h-100 py-3 px-3 mx-lg-2 card-body">
          <span class="multiselect-border">
            <ul id="selected-validators-input" class="multiselect">
              <li class="input"><input class="typeahead-dashboard" type="text" placeholder="Add a Validator via Validator index, Graffiti or Eth1 Address" aria-label="Search" style="font-size:.9rem;" /></li>
            </ul>
            <div id="selected-validators-overview" class="d-none dropdown-selected-validators" style="position:absolute;overflow-y:auto;top:100%;margin-top:.3rem;max-height:280px;width:100%;border-radius:5px;box-shadow:0 .5rem 1rem rgba(0,0,0,.175);border: 1px solid rgba(255,255,255,.125);">
              <!-- class="dropdown-selected-validators" -->

              <ul id="selected-validators" class="multiselect val-modal"></ul>
            </div>
            <div style="width:2.2rem;" class="position-relative shadow-sm">
              <button style="top:0;bottom:0;right:0;z-index:999;" id="selected-validators-input-button" type="button" class="position-absolute flex-column justify-content-center align-items-center btn btn-sm hbtn pb-2 d-none" style="background-color:var(--bg-color-secondary);z-index:998;" data-toggle="modal" data-target="#validatorModal">
                <i id="selected-validators-input-button-val" class="fas fa-male"></i>
                <span style="font-size:.8rem;"></span>
                <i id="selected-validators-input-button-box" class="fas fa-box-open fa-lg text-primary"></i>
              </button>
            </div>
          </span>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-8 px-lg-2 my-2">
            <div class="card d-flex flex-column justify-content-center h-100 pt-5 pb-0 px-0 card-body">
              <div class="text-center border-bottom position-absolute w-100" style="top: 1rem">
                <h4>Status Validator <span id="dash-validator-status-index"></span></h4>
              </div>
              <div class="row">
                <div class="col">
                  <div class="validator__lifecycle-container">
                    <div class="validator__lifecycle-content">
                      <div id="lifecycle-deposited" class="validator__lifecycle-node-container validator__lifecycle-deposited">
                        <div class="validator__lifecycle-node-header"><a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#2-deposit-contract-status-deposited">Deposited</a></div>
                        <div class="validator__lifecycle-node" data-toggle="tooltip" title="This will turn green when your deposit has been processed by the beacon chain">
                          <i class="fas fa-check deposit-success"></i>
                          <i class="fas fa-times fail deposit-fail"></i>
                          <div class="spinner">
                            <div class="double-bounce1"></div>
                            <div class="double-bounce2"></div>
                          </div>
                        </div>
                      </div>
                      <div class="validator__lifecycle-progress validator__lifecycle-deposited text-white">
                        <div id="eligible-epoch" class="validator__lifecycle-progress-epoch">
                        </div>
                      </div>
                      <div id="lifecycle-pending" class="validator__lifecycle-node-container validator__lifecycle-pending">
                        <div class="validator__lifecycle-node-container">
                          <div class="validator__lifecycle-node-header"><a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#3-validator-queue-status-pending">Pending</a></div>
                          <div class="validator__lifecycle-node" data-toggle="tooltip" title="After being proccessed your validator joins a queue to be activated">
                            <i class="fas fa-hourglass-half pending-waiting"></i>
                            <i class="fas fa-check"></i>
                            <div class="spinner">
                              <div class="double-bounce1"></div>
                              <div class="double-bounce2"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="validator__lifecycle-progress validator__lifecycle-pending">
                        <div id="activation-epoch" class="validator__lifecycle-progress-epoch">
                        </div>
                      </div>
                      <div id="lifecycle-active" class="validator__lifecycle-node-container validator__lifecycle-active">
                        <div class="validator__lifecycle-node-container">
                          <div class="validator__lifecycle-node-header"><a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#4-staking-status-active">Active</a></div>
                          <div class="validator__lifecycle-node" data-toggle="tooltip" title="Once your validator reaches this state it can participate in attesting and proposing. Make sure it stays online!">
                            <i class="fas fa-power-off online"></i>
                            <i class="fas fa-power-off offline"></i>
                            <i class="fas fa-check"></i>
                            <div class="spinner">
                              <div class="double-bounce1"></div>
                              <div class="double-bounce2"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="validator__lifecycle-progress validator__lifecycle-active">
                        <div id="exit-epoch" class="validator__lifecycle-progress-epoch">
                        </div>
                      </div>
                      <div id="lifecycle-exited" class="validator__lifecycle-node-container validator__lifecycle-exited">
                        <div class="validator__lifecycle-node-container">
                          <div class="validator__lifecycle-node-header"><a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#4-staking-status-active">Exited</a></div>
                          <div class="validator__lifecycle-node" data-toggle="tooltip" title="If your validator misbehaves or chooses to leave the network it will join a queue to leave.">
                            <i class="fas fa-door-open"></i>
                            <div class="spinner">
                              <div class="double-bounce1"></div>
                              <div class="double-bounce2"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column justify-content-center">

                <div id="validator-status-deposited" class="text-justify row justify-content-center mb-2 d-none">
                  <div class="col">
                    <div class="px-2">
                      <div class="px-2 mx-auto" style="max-width: 50rem;">
                        <span></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="validator-status-pending" class="text-justify row justify-content-center mb-2 d-none">
                  <div class="col">
                    <div class="px-2" >
                      <div class="p-2 mx-auto" style="max-width: 50rem;">
                        This validator has been processed by the beacon chain and is currently waiting to be activated.
                        <span></span>
                        Make sure your nodes and your client is up and running <em>before</em> the countdown reaches zero.
                      </div>
                    </div>
                  </div>
                </div>

                {{/* <div id="validator-status-validating" class="overview-container d-flex flex-wrap justify-content-center d-none">
                  <div style="width: 90px;" class="m-3 position-relative">
                    <span style="top:-1.2rem;" class="text-muted font-weight-lighter position-absolute"><small>{{ if gtf .RankPercentage 0.0 }}{{ if gtf .RankPercentage 0.001 }}Rank {{ formatPercentageWithGPrecision .RankPercentage 3 }} %{{ else }}Top 0.1%{{ end }}{{ else }}Rank{{ end }}</small></span>
                    <a class="no-highlight" href="/validators/leaderboard">
                      <i class="fas fa-medal"></i>
                      <span id="validatorRank" style="font-weight: bold; font-size:18px;">{{ if gt .Rank7d 0 }}{{ .Rank7d }}{{ else }}N/A{{ end }}</span>
                    </a>
                  </div>
                  <div class="m-3 position-relative">
                    <span style="top:-1.2rem;" class="text-muted font-weight-lighter position-absolute"><small>Balance</small></span>
                    <div style="width: 8.32rem" class="d-flex flex-column">
                      <span style="font-weight: bold; font-size:18px;">{{ formatCurrentBalance .CurrentBalance $.Rates.Currency }}</span>
                      <span style="font-size: 0.8rem; color: gray">{{ formatEffectiveBalance .EffectiveBalance "ETH" }}
                        <span data-toggle="tooltip" title="The effective balance is used to calculate the base rewards of a validator">
                          <a class="no-highlight" href="https://kb.beaconcha.in/glossary#current-balance-and-effective-balance"><i class="far ml-1 fa-question-circle"></i></a>
                        </span>
                      </span>
                    </div>
                  </div>
                  <div style="width: 90px;" class="m-3 position-relative">
                    <span style="top:-1.2rem;" class="text-muted font-weight-lighter position-absolute"><small>Status</small></span>
                    {{ .Status | formatValidatorStatus }}
                  </div>
                  {{ if gtf .AttestationInclusionEffectiveness 0 }}
                    <div style="width: 8.32rem" class="m-3 position-relative">
                      <span style="top:-1.2rem;" class="text-muted font-weight-lighter position-absolute"><small>Effectiveness</small></span>
                      {{ .AttestationInclusionEffectiveness | formatAttestationInclusionEffectiveness }}
                    </div>
                  {{ end }}
                </div> */}}

              </div>
            </div>
          </div>
          <div class="col-lg-4 px-lg-2 my-2">
            <div class="card card-body py-3 px-1 h-100 d-flex align-items-center" style="width:100%;">
              <span class="h4">Summary</span>
              <table class="table summary-table" style="margin-top:0 !important;" width="100%">
                <tbody>
                  <tr>
                    <th scope="row"><div id="earnings-day-header" class="title">Last Day</div></th>
                    <td><div id="earnings-day" class="stat">0.000</div></td>
                  </tr>
                  <tr>
                    <th scope="row"><div id="earnings-week-header" class="title">Last Week</div></th>
                    <td><div id="earnings-week" class="stat">0.000</div></td>
                  </tr>
                  <tr>
                    <th scope="row"><div id="earnings-month-header" class="title">Last Month</div></th>
                    <td><div id="earnings-month" class="stat">0.000</div></td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <div id="earnings-total-header" class="title" data-toggle="tooltip" data-placement="top" title="Total Balance">Total <span class="d-none d-md-inline">Balance</span></div>
                    </th>
                    <td><div id="earnings-total" class="stat">0.000</div></td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <div id="validator-eff-header" class="title" data-toggle="tooltip" data-placement="top" title="Average Attestation Effectiveness">Avg. Eff<span class="d-xl-none d-inline">.</span><span class="d-none d-xl-inline">ectiveness</span></div>
                    </th>
                    <td><div id="validator-eff-total" class="stat" style="font-weight:bold;">0.000</div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-8 px-lg-2 my-2">
            <div class="card h-100 px-0 pb-0 pt-3 card-body" style="min-height:600px;">
              <div class="text-center border-bottom">
                <h4>Overview</h4>
              </div>
              <ul style="width:100%;margin-top:-1px;margin-bottom:1rem;display:flex;justify-content:space-between" class="nav nav-tabs" id="dashChartTabs" role="tablist">
                <li class="nav-item dashboard-table-nav" style="flex:1;">
                  <a class="nav-link show active" id="validators-tab" data-toggle="tab" href="#validators-table" role="tab" aria-controls="validators" aria-selected="true" style="text-align:center;white-space:nowrap;">
                    <i class="tab-icon fas fa-male fa-lg"></i>
                    <span class="tab-text dashboard-table-nav-text"> Validators</span>
                  </a>
                </li>
                <li class="nav-item dashboard-table-nav" style="flex:1;">
                  <a class="nav-link" id="balances-tab" data-toggle="tab" href="#balances" role="tab" aria-controls="balances" aria-selected="false" style="text-align:center; white-space:nowrap;">
                    <i class="tab-icon fas fa-cubes fa-lg"></i>
                    <span class="tab-text dashboard-table-nav-text"> Income</span>
                  </a>
                </li>
                <li class="nav-item dashboard-table-nav" style="flex:1;">
                  <a class="nav-link" id="proposals-tab" data-toggle="tab" href="#proposals" role="tab" aria-controls="proposals" aria-selected="false" style="text-align:center;white-space:nowrap;">
                    <i class="tab-icon fas fa-file-signature fa-lg"></i>
                    <span class="tab-text dashboard-table-nav-text"> Proposals</span>
                  </a>
                </li>
              </ul>
              <div class="tab-content h-100" id="dashTabContent">
                <div id="validators-table" class="tab-pane fade h-100 show active" role="tabpanel" aria-labelledby="validators-tab">
                  <div class="multiselect-container" class="row border-bottom p-3">
                    <span style="display:flex;justify-content:flex-start;font-size:.9rem;">
                      <button data-toggle="tooltip" title="Open in reward history" style="visibility:hidden;" id="rewards-button" class="btn btn-primary btn-sm mr-1">
                        <i class="far fa-money-bill-alt text-white" style="width:18px;"></i>
                      </button>
                      <button data-toggle="tooltip" title="Save all to Watchlist" style="visibility:hidden;" id="bookmark-button" type="button" class="btn btn-primary btn-sm mr-1">
                        <i class="far fa-bookmark text-white" style="width:18px;"></i>
                      </button>
                      <button data-toggle="tooltip" data-original-title="Copy Link to Dashboard" style="visibility:hidden;" id="copy-button" data-clipboard-text="https://beaconcha.in/dashboard" type="button" class="btn btn-primary btn-sm mr-1">
                        <i class="fa fa-copy text-white" style="width:18px;"></i>
                      </button>
                      <button data-toggle="tooltip" title="Clear Dashboard" style="visibility:hidden;" id="clear-search" type="button" class="btn btn-primary btn-sm">
                        <i class="fa fa-trash-alt text-white" style="width:18px;"></i>
                      </button>
                    </span>
                    <!--
                    <div style="font-weight:300;font-size:1rem;display:flex;justify-content:center" class="pb-2">
                      <span id="dashboard-info">Found 0 pending, 0 active and 0 exited validators</span>
                    </div>
                    -->
                  </div>
                  <div id="validator-art" class="d-flex align-items-center justify-content-center p-5">
                    {{ template "reading_book_svg" }}
                  </div>
                  <div class="dashboard-table px-0 mx-0" id="validators-table-holder" style="height:100%;">
                    <div class="table-responsive proposals-table pb-2" style="height:100%;">
                      <table class="table" id="validators" width="100%" style="margin-top:.5rem !important;">
                        <thead>
                          <tr>
                            <th>Public Key</th>
                            <th>Index</th>
                            <th>Balance</th>
                            <th>State</th>
                            <th>Activation</th>
                            <th>Exit</th>
                            <th>Withdrawable</th>
                            <th>Last Attestation</th>
                            <th data-toggle="tooltip" data-placement="top" title="Proposals">P</th>
                            <th>Income 7 days</th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div id="balances" class="tab-pane fade h-100" role="tabpanel" aria-labelledby="balances-tab">
                  <div id="balance-chart">
                    <div class="d-flex align-items-center justify-content-center p-5">
                      {{ template "bar_chart_svg" }}
                    </div>
                  </div>
                </div>
                <div id="proposals" class="tab-pane fade h-100" style="position:relative;" role="tabpanel" aria-labelledby="proposals-tab">
                  <div class="proposal-switch m-2">
                    <i class="fas fa-chart-line fa-sm switch-chart p-2 proposal-switch-selected"></i>
                    <i class="fas fa-table fa-sm switch-table p-2"></i>
                  </div>
                  <div id="proposed-chart">
                    <div class="d-flex align-items-center justify-content-center p-5">
                      {{ template "presentation_svg" }}
                    </div>
                  </div>
                  <div id="proposed-table-div" class="dashboard-table px-0 mx-0 d-none flex-column" id="proposals-table-holder">
                    <!--<div class="d-flex justify-content-center align-items-center p-1 mt-2">
                    <span>Proposal History</span>
                  </div>-->
                    <div class="table-responsive pb-2">
                      <table class="table" id="proposals-table" width="100%">
                        <thead>
                          <tr>
                            <th>Validator</th>
                            <th>Date</th>
                            <th style="min-width:100px;"><span data-toggle="tooltip" data-placement="top" title="Proposed/Missed/Orphaned">P / M / O</span></th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 px-lg-2 d-flex align-items-center my-2">
            <div class="card h-100 py-3 px-0 card-body">
              <div class="d-flex justify-content-center align-items-center border-bottom">
                <span class="h4">History Validator <span id="dash-validator-history-index" style="font-size:24px;"></span></span>
              </div>
              <div id="dash-validator-history-index-div" class="justify-content-around align-items-center p-2 d-none validator-history-index" style="height:53px;">
                <div class="mx-2">
                  <span id="blockCount" data-toggle="tooltip" title="Proposal Assignments"><i class="fas fa-cubes poin pr-1"></i><span></span></span>
                </div>
                <div class="mx-2">
                  <span id="attestationCount" data-toggle="tooltip" title="Attestation Assignments"><i class="fas fa-file-signature pr-1"></i><span></span></span>
                </div>
                <div id="slashingsCountDiv" class="mx-2 d-none">
                  <span id="slashingsCount" data-toggle="tooltip" title="Other validators slashed"><i class="fas fa-user-slash pr-1"></i><span></span></span>
                </div>
                <div id="effectiveness" class="mx-2"></div>
              </div>
              <div id="dash-validator-history-art" class="d-flex align-items-center justify-content-center flex-column pt-4">
                {{ template "rocket_launch_svg" }}
                <span id="dash-validator-history-info" class="d-none p-3"> Watch your <a class="text-primary" class="nav-link" id="validators-tab" data-toggle="tab" href="#validators-table" role="tab" aria-controls="validators" aria-selected="false" onclick="toggleFirstrow()">validator</a> history right in the dashboard </span>
              </div>
              <div class="table-responsive px-0 py-0 history-table">
                <table style="margin-top:0px !important;" class="table d-none" id="dash-validator-history-table" width="100%">
                  <thead>
                    <tr>
                      <th>Epoch</th>
                      <!-- <th>Slot</th> -->
                      <th>Balance Change</th>
                      <th data-toggle="tooltip" title="Attestation and block proposal status for a given epoch">Att. & Prop.</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
