{{ define "dashboard_status" }}
  <script>
    function setSelectedValidatorStatus(index) {
      $.ajax({
        url: "/validator/" + index + "/status",
        success: function (result) {
          let deposited = result.Status == "deposited" || result.Status == "deposited_valid" || result.Status == "deposited_invalid"
          let pending = result.Status == "pending"
          let exited = result.Status == "exited" || result.Status == "slashed"
          let validating = result.Status == "active_online"   || result.Status == "active_offline"   || 
                            result.Status == "slashing_online" || result.Status == "slashing_offline" || 
                            result.Status == "exiting_online"  || result.Status == "exiting_offline"

          $("#eligible-epoch").empty()
          $("#activation-epoch").empty()
          $("#exit-epoch").empty()
          $("#exit-epoch").empty()

          $("#validator-status-deposited").addClass("d-none")
          $("#validator-status-pending").addClass("d-none")

          if (!deposited) {
            $("#eligible-epoch").append(`<div data-toggle="tooltip" title="The eligible epoch is when your validator is registerd by the beacon chain and joins the queue to be activated."><a href="/epoch/${result.ActivationEligibilityEpoch}">${result.ActivationEligibilityEpoch == 0 ? "genesis" : result.ActivationEligibilityEpoch}</a></div>`)
            $("#activation-epoch").append(`<div data-toggle="tooltip" title="The activation epoch is when your validator becomes active."></div>`)
            if (result.ActivationEpoch != 9223372036854775807) {
              $("#activation-epoch > div").append(`<a href="/epoch/${result.ActivationEpoch}">${result.ActivationEpoch == 0 ? "genesis" : result.ActivationEpoch}</a>`)
            }
          }
          if (result.ExitEpoch != 0 && result.ExitEpoch != 9223372036854775807){
            $("#exit-epoch").append(`<div data-toggle="tooltip" title="The exit epoch is when your validator will leave the network"><a href="/epoch/${result.ExitEpoch}">${result.ExitEpoch}</a></div>`)
          }
          setValidatorStatus(result.Status, result.ActivationEpoch)

          if (deposited) {
            addValidatorStatusDeposited(result)
          } else if (pending) {
            addValidatorStatusPending(result)
          } else if (exited) {
            addValidatorStatusExited(result)
          } else if (validating) {
            addValidatorStatusValidating(result)
          }

          $("#dash-validator-status-index").text(index)
          $('[data-toggle="tooltip"]').tooltip()
        },
      })
    }

    function addValidatorStatusDeposited(result) {
      $("#validator-status-deposited span").empty().append(`
        ${ result.InclusionDelay == 0 ?
          `An ETH1 deposit has been made, and your validator will be voted into the activation queue once the deposited amount sums up to 32 ETH.`
        : `The last ETH1 deposit was made ${result.Deposits.LastEth1DepositTs > 0 ? `<span aria-ethereum-date-format="FROMNOW" aria-ethereum-date="1656780703"></span>`:``}, it will take <a href=\"https://kb.beaconcha.in/ethereum-2.0-and-depositing-process\">around 16-24 hours</a> until your deposit is processed by the beacon chain. This validator will be eligible for activation once the deposited amount sums up to 32 ETH.`
        }
      `)
      $("#validator-status-deposited").removeClass("d-none")
      setAriaEthereumDate()
    }
    function addValidatorStatusPending(result) {
      $("#validator-status-pending span").empty().append(`
        ${ result.ActivationEpoch < 100_000_000 ?
          `It will be activated on <span class=\"font-weight-bolder\" title=\"${result.ActivationTs}\" data-toggle=\"tooltip\" aria-ethereum-date=\"${Date.parse(result.ActivationTs)/1000}\">${result.ActivationTs}</span> during epoch <span class=\"font-weight-bolder\">${result.ActivationEpoch}</span>.`
        : result.EstimatedActivationEpoch < 100_000_000 ? 
          `It is estimated to be activated on <span class=\"font-weight-bolder\" title=\"${result.ActivationTs}\" data-toggle=\"tooltip\" aria-ethereum-date=\"${Date.parse(result.EstimatedActivationTs)/1000}\">${result.EstimatedActivationTs}</span> during epoch <span class=\"font-weight-bolder\">${result.EstimatedActivationEpoch}</span>.`
        : ''
        }
      `)
      $('#validator-status-pending > div > div > div:nth-child(2)').empty()
      if (result.QueuePosition > 0) {
        $("#validator-status-pending > div > div > div:nth-child(2)").append(`
          <p>This validator is currently <span class="font-weight-bolder d-inline-block text-underlined" data-toggle="tooltip" title="${result.ChurnRate} Validators get dequeued each Epoch.">#${result.QueuePosition}</span> in Queue.</p>
        `)
      }
      $("#validator-status-pending").removeClass("d-none")
      //TODO ROCKET + COUNTDOWN
      setAriaEthereumDate()
    }
    function addValidatorStatusValidating (result) {
    }
  </script>
  <div class="row">
    <div class="col">
      <div class="validator__lifecycle-container">
        <div class="validator__lifecycle-content">
          <div id="lifecycle-deposited" class="validator__lifecycle-node-container validator__lifecycle-deposited">
            <div class="validator__lifecycle-node-header"><a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#2-deposit-contract-status-deposited">Deposited</a></div>
            <div class="validator__lifecycle-node" data-toggle="tooltip" title="This will turn green when your deposit has been processed by the beacon chain">
              <i class="fas fa-check deposit-success"></i>
              <i class="fas fa-times fail deposit-fail"></i>
              <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
              </div>
            </div>
          </div>
          <div class="validator__lifecycle-progress validator__lifecycle-deposited text-white">
            <div id="eligible-epoch" class="validator__lifecycle-progress-epoch">
            </div>
          </div>
          <div id="lifecycle-pending" class="validator__lifecycle-node-container validator__lifecycle-pending">
            <div class="validator__lifecycle-node-container">
              <div class="validator__lifecycle-node-header"><a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#3-validator-queue-status-pending">Pending</a></div>
              <div class="validator__lifecycle-node" data-toggle="tooltip" title="After being proccessed your validator joins a queue to be activated">
                <i class="fas fa-hourglass-half pending-waiting"></i>
                <i class="fas fa-check"></i>
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="validator__lifecycle-progress validator__lifecycle-pending">
            <div id="activation-epoch" class="validator__lifecycle-progress-epoch">
            </div>
          </div>
          <div id="lifecycle-active" class="validator__lifecycle-node-container validator__lifecycle-active">
            <div class="validator__lifecycle-node-container">
              <div class="validator__lifecycle-node-header"><a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#4-staking-status-active">Active</a></div>
              <div class="validator__lifecycle-node" data-toggle="tooltip" title="Once your validator reaches this state it can participate in attesting and proposing. Make sure it stays online!">
                <i class="fas fa-power-off online"></i>
                <i class="fas fa-power-off offline"></i>
                <i class="fas fa-check"></i>
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="validator__lifecycle-progress validator__lifecycle-active">
            <div id="exit-epoch" class="validator__lifecycle-progress-epoch">
            </div>
          </div>
          <div id="lifecycle-exited" class="validator__lifecycle-node-container validator__lifecycle-exited">
            <div class="validator__lifecycle-node-container">
              <div class="validator__lifecycle-node-header"><a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#4-staking-status-active">Exited</a></div>
              <div class="validator__lifecycle-node" data-toggle="tooltip" title="If your validator misbehaves or chooses to leave the network it will join a queue to leave.">
                <i class="fas fa-door-open"></i>
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center">

    <div id="validator-status-deposited" class="text-justify row justify-content-center mb-2 d-none">
      <div class="col">
        <div class="px-2">
          <div class="px-2 mx-auto" style="max-width: 50rem;">
            <span></span>
          </div>
        </div>
      </div>
    </div>

    <div id="validator-status-pending" class="text-justify row justify-content-center mb-2 d-none">
      <div class="col">
        <div class="px-2" >
          <div class="p-2 mx-auto" style="max-width: 50rem;">
            This validator has been processed by the beacon chain and is currently waiting to be activated.
            <span></span>
            Make sure your nodes and your client is up and running <em>before</em> the countdown reaches zero.
          </div>
          <div class="d-flex justify-content-center"></div>
        </div>
      </div>
    </div>

    {{/* <div id="validator-status-validating" class="overview-container d-flex flex-wrap justify-content-center d-none">
      <div style="width: 90px;" class="m-3 position-relative">
        <span style="top:-1.2rem;" class="text-muted font-weight-lighter position-absolute"><small>{{ if gtf .RankPercentage 0.0 }}{{ if gtf .RankPercentage 0.001 }}Rank {{ formatPercentageWithGPrecision .RankPercentage 3 }} %{{ else }}Top 0.1%{{ end }}{{ else }}Rank{{ end }}</small></span>
        <a class="no-highlight" href="/validators/leaderboard">
          <i class="fas fa-medal"></i>
          <span id="validatorRank" style="font-weight: bold; font-size:18px;">{{ if gt .Rank7d 0 }}{{ .Rank7d }}{{ else }}N/A{{ end }}</span>
        </a>
      </div>
      <div class="m-3 position-relative">
        <span style="top:-1.2rem;" class="text-muted font-weight-lighter position-absolute"><small>Balance</small></span>
        <div style="width: 8.32rem" class="d-flex flex-column">
          <span style="font-weight: bold; font-size:18px;">{{ formatCurrentBalance .CurrentBalance $.Rates.Currency }}</span>
          <span style="font-size: 0.8rem; color: gray">{{ formatEffectiveBalance .EffectiveBalance "ETH" }}
            <span data-toggle="tooltip" title="The effective balance is used to calculate the base rewards of a validator">
              <a class="no-highlight" href="https://kb.beaconcha.in/glossary#current-balance-and-effective-balance"><i class="far ml-1 fa-question-circle"></i></a>
            </span>
          </span>
        </div>
      </div>
      <div style="width: 90px;" class="m-3 position-relative">
        <span style="top:-1.2rem;" class="text-muted font-weight-lighter position-absolute"><small>Status</small></span>
        {{ .Status | formatValidatorStatus }}
      </div>
      {{ if gtf .AttestationInclusionEffectiveness 0 }}
        <div style="width: 8.32rem" class="m-3 position-relative">
          <span style="top:-1.2rem;" class="text-muted font-weight-lighter position-absolute"><small>Effectiveness</small></span>
          {{ .AttestationInclusionEffectiveness | formatAttestationInclusionEffectiveness }}
        </div>
      {{ end }}
    </div> */}}

  </div>
{{ end }}